body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
}

:root {
  --primary-color: #E10715;
  --text-light: #FFFFFF;
  --text-dark: #333333;
  --text-link: #000099;
  --border-color: #ddd;
}